<template name="mainTop">
  <div class="row buyzzer-main-beach">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-9">
          <h2 class="text-center">
            <span class="white-color">
              Find adventures and make new friends
            </span>
          </h2>
          <h3 class="text-center">
            <span class="white-color">
              CHOOSE YOUR CITY
            </span>
          </h3>
        </div>
        <div class="col-md-3"></div>
      </div>

        <div class="row">
          <div class="col-md-12">
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-default location-search-bar">
              <span class="pull-left">
                <i class="fa fa-map-marker location-search-bar-icon"></i>
                <span class="location-search-bar-text">ALL</span>
              </span>
            </button>

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg">
              <li><a href="#">San Fransisco</a></li>
              <li><a href="#">Atlanta</a></li>
              <li><a href="#">Boston</a></li>
              <li><a href="#">Miami</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
</template>
