<template name="mainBody">
  <div class="row buyzzer-main-body">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <div class="row">
        <ul class="list-inline buyzzer-activities">
          <li><p class="text-center">All</p></li>
          <li><p class="text-center">Travel</p></li>
          <li><p class="text-center">Sports</p></li>
          <li><p class="text-center">Entertainment</p></li>
          <li><p class="text-center">Activities</p></li>
          <li><p class="text-center">Dating</p></li>
        </ul>
      </div>
    </div>
    <div class="col-md-2"></div>


  </div>
</template>
