<template name="post">
  <div class="post">
    <div class="postPicture">
      <img class="postImage" src="/images/post_image.png" />

      <div class="postMessage">
        <span class="postCost">$80</span>
        <img class="postProfile img-circle" src="/images/post_profile.png" />
      </div>
    </div>

    <span class="description">
      <p class="text-left">
        Amy teaches you how to cook delicious and authentic pealla.
      </p>
    </span>

    <span class="place">
      <p class="text-left">
        <span>Miami, FL</span>
      </p>
    </span>

    <span class="ratings">
      <div class="rating">
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
        <span>☆</span>
      </div>
    </span>
  </div>

</template>
